export def --env proxy-on [proxy_url: string = "{{ proxy_url }}"] {
    $env.http_proxy = $proxy_url
    $env.https_proxy = $proxy_url
    $env.no_proxy = "localhost,127.0.0.1,::1"
    print $"Proxy enabled: ($proxy_url)"
}

export def --env proxy-off [] {
    hide-env http_proxy
    hide-env https_proxy
    hide-env no_proxy
    print "Proxy disabled."
}

export def proxy-status [] {
  $env | select -o http_proxy https_proxy no_proxy
}
