[init]
	defaultBranch = main
[user]
	name = VioletsOleander
	email = 1377232072@qq.com
[alias]
	stat = status
	line = log --oneline
	stats = status
[core]
    editor = vim
	autocrlf = input
	quotepath = false
	ignorecase = false
